In [1]:
import pandas as pd
import numpy as np
import pickle
import time

# Creating DataSet

### OD Estimacion

In [2]:
odData = pd.read_excel('./data/OD2007Estimacion2014.xlsx')
odData.dropna(inplace=True)
odData.set_index(['Origen', 'Destino'], inplace=True)
odData

                Caminando  Transporte Colectivo  Taxi  Bicicleta  Motocicleta  \
Origen Destino
1.0    1.0         2175.0                 623.0   0.0        0.0          0.0
       2.0          212.0                 147.0   0.0        0.0          0.0
       3.0            0.0                 165.0   0.0        0.0          0.0
       4.0            0.0                 311.0   0.0        0.0          0.0
       14.0           0.0                 311.0   0.0        0.0          0.0
...                   ...                   ...   ...        ...          ...
490.0  403.0          0.0                   0.0   0.0        0.0          0.0
       406.0          0.0                   0.0   0.0        0.0          0.0
       446.0          0.0                   0.0   0.0        0.0          0.0
       458.0          0.0                   0.0   0.0        0.0          0.0
       490.0        200.0                   0.0   0.0        0.0          0.0

                Auto (Conductor)  Auto (Pasajero)  Camioneta (Conductor)  \
Origen Destino
1.0    1.0                   0.0              0.0                    0.0
       2.0                 185.0              0.0                    0.0
       3.0                   0.0              0.0                    0.0
       4.0                   0.0              0.0                    0.0
       14.0                  0.0              0.0                    0.0
...                          ...              ...                    ...
490.0  403.0               200.0              0.0                    0.0
       406.0                 0.0            236.0                    0.0
       446.0                 0.0            520.0                    0.0
       458.0                 0.0              0.0                    0.0
       490.0               400.0              0.0                    0.0

                Camioneta (Pasajero)  Otros  Total
Origen Destino
1.0    1.0                       0.0    0.0   2798
       2.0                       0.0    0.0    544
       3.0                       0.0    0.0    165
       4.0                       0.0    0.0    311
       14.0                      0.0    0.0    311
...                              ...    ...    ...
490.0  403.0                     0.0    0.0    200
       406.0                   217.0    0.0    453
       446.0                     0.0    0.0    520
       458.0                   142.0    0.0    142
       490.0                     0.0    0.0    600

[17737 rows x 11 columns]

In [3]:
vehiculo = [x for x in odData.columns if 'Auto' in x or 'Camioneta' in x]
vehiculo

['Auto (Conductor)',
 'Auto (Pasajero)',
 'Camioneta (Conductor)',
 'Camioneta (Pasajero)']

In [4]:
odData.insert(5, 'Vehiculo', odData[vehiculo].sum(axis=1))
odData

                Caminando  Transporte Colectivo  Taxi  Bicicleta  Motocicleta  \
Origen Destino
1.0    1.0         2175.0                 623.0   0.0        0.0          0.0
       2.0          212.0                 147.0   0.0        0.0          0.0
       3.0            0.0                 165.0   0.0        0.0          0.0
       4.0            0.0                 311.0   0.0        0.0          0.0
       14.0           0.0                 311.0   0.0        0.0          0.0
...                   ...                   ...   ...        ...          ...
490.0  403.0          0.0                   0.0   0.0        0.0          0.0
       406.0          0.0                   0.0   0.0        0.0          0.0
       446.0          0.0                   0.0   0.0        0.0          0.0
       458.0          0.0                   0.0   0.0        0.0          0.0
       490.0        200.0                   0.0   0.0        0.0          0.0

                Vehiculo  Auto (Conductor)  Auto (Pasajero)  \
Origen Destino
1.0    1.0           0.0               0.0              0.0
       2.0         185.0             185.0              0.0
       3.0           0.0               0.0              0.0
       4.0           0.0               0.0              0.0
       14.0          0.0               0.0              0.0
...                  ...               ...              ...
490.0  403.0       200.0             200.0              0.0
       406.0       453.0               0.0            236.0
       446.0       520.0               0.0            520.0
       458.0       142.0               0.0              0.0
       490.0       400.0             400.0              0.0

                Camioneta (Conductor)  Camioneta (Pasajero)  Otros  Total
Origen Destino
1.0    1.0                        0.0                   0.0    0.0   2798
       2.0                        0.0                   0.0    0.0    544
       3.0                        0.0                   0.0    0.0    165
       4.0                        0.0                   0.0    0.0    311
       14.0                       0.0                   0.0    0.0    311
...                               ...                   ...    ...    ...
490.0  403.0                      0.0                   0.0    0.0    200
       406.0                      0.0                 217.0    0.0    453
       446.0                      0.0                   0.0    0.0    520
       458.0                      0.0                 142.0    0.0    142
       490.0                      0.0                   0.0    0.0    600

[17737 rows x 12 columns]

In [5]:
odData.drop(vehiculo, axis = 1, inplace=True)
odData

                Caminando  Transporte Colectivo  Taxi  Bicicleta  Motocicleta  \
Origen Destino
1.0    1.0         2175.0                 623.0   0.0        0.0          0.0
       2.0          212.0                 147.0   0.0        0.0          0.0
       3.0            0.0                 165.0   0.0        0.0          0.0
       4.0            0.0                 311.0   0.0        0.0          0.0
       14.0           0.0                 311.0   0.0        0.0          0.0
...                   ...                   ...   ...        ...          ...
490.0  403.0          0.0                   0.0   0.0        0.0          0.0
       406.0          0.0                   0.0   0.0        0.0          0.0
       446.0          0.0                   0.0   0.0        0.0          0.0
       458.0          0.0                   0.0   0.0        0.0          0.0
       490.0        200.0                   0.0   0.0        0.0          0.0

                Vehiculo  Otros  Total
Origen Destino
1.0    1.0           0.0    0.0   2798
       2.0         185.0    0.0    544
       3.0           0.0    0.0    165
       4.0           0.0    0.0    311
       14.0          0.0    0.0    311
...                  ...    ...    ...
490.0  403.0       200.0    0.0    200
       406.0       453.0    0.0    453
       446.0       520.0    0.0    520
       458.0       142.0    0.0    142
       490.0       400.0    0.0    600

[17737 rows x 8 columns]

### Generated Data

In [6]:
fullData = pd.read_csv('./data/fullData.csv', index_col='CODIGO_MZ')
fullData

,OID_,Zonificacion_Project_ID,Zonificacion_Project_AREA,Zonificacion_Project_ID_NODO,Zonificacion_Project_CODIGO_MZ,Zonificacion_Project_MPIO,Zonificacion_Project_POB2005,Zonificacion_Project_POB2010,Zonificacion_Project_POB2000,Zonificacion_Project_POB2012,...,sum_VPH_STVP,sum_VPH_SPMVPI,sum_VPH_CVJ,sum_VPH_SINRTV,sum_VPH_SINLTC,sum_VPH_SINCINT,sum_VPH_SINTIC,Manzanas,Shape_Length,Shape_Area
CODIGO_MZ,,,,,,,,,,,,,,,,,,,,,
353,1,353,0.66,23070,353,Tonal,950.0,1097.0,547.0,1262.91,...,138.0,43.0,33.0,3.0,18.0,159.0,3.0,24,3607.526676,6.623888e+05
352,2,352,34.44,23043,352,Tonal,0.0,12275.0,698.0,13150.56,...,8110.0,4344.0,3295.0,63.0,124.0,2818.0,9.0,679,51652.454849,3.434607e+07
205,3,205,136.13,1057,205,Juana,3696.0,3921.0,0.0,4015.00,...,1906.0,243.0,626.0,34.0,103.0,2911.0,6.0,189,69804.308059,1.357649e+08
486,4,486,15.55,23383,486,Ext,0.0,0.0,0.0,0.00,...,11.0,3.0,0.0,0.0,0.0,38.0,0.0,7,23686.125908,1.551020e+07
489,5,489,29.30,58088,489,Ext,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,30956.690081,2.921773e+07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158,474,158,0.51,27449,158,Guada,10146.0,9805.0,11184.0,9550.70,...,1036.0,591.0,409.0,6.0,30.0,544.0,0.0,50,3887.580099,5.073830e+05
165,475,165,0.67,12476,165,Guada,11694.0,10758.0,11516.0,10613.53,...,925.0,612.0,439.0,5.0,39.0,708.0,0.0,117,3999.969281,6.712400e+05
151,476,151,0.53,12445,151,Guada,6973.0,6734.0,7203.0,6643.93,...,709.0,404.0,234.0,0.0,3.0,361.0,0.0,77,3170.094251,5.261191e+05
349,477,492,74.37,20428,349,Tonal,16848.0,11736.0,1267.0,12573.11,...,7930.0,3128.0,2706.0,66.0,187.0,4627.0,12.0,674,72346.131999,7.416361e+07
487,478,493,6.94,23382,487,Ext,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,12870.469927,6.921144e+06

In [16]:
indexes = [x for x in fullData.columns if 'ID' in x or 'Shape' in x or 'Zonificacion' in x or 'Ubicación' in x]

In [17]:
fD = fullData.drop(indexes, axis = 1)
fD

,datosAgrupados_Caminando_destino,datosAgrupados_Transporte_Colectivo_destino,datosAgrupados_Taxi_destino,datosAgrupados_Bicicleta_destino,datosAgrupados_Motocicleta_destino,datosAgrupados_Auto__Conductor__destino,datosAgrupados_Auto__Pasajero__destino,datosAgrupados_Camioneta__Conductor__destino,datosAgrupados_Camioneta__Pasajero__destino,datosAgrupados_Otros_destino,...,sum_VPH_CEL,sum_VPH_INTER,sum_VPH_STVP,sum_VPH_SPMVPI,sum_VPH_CVJ,sum_VPH_SINRTV,sum_VPH_SINLTC,sum_VPH_SINCINT,sum_VPH_SINTIC,Manzanas
CODIGO_MZ,,,,,,,,,,,,,,,,,,,,,
353,1788.0,1311.0,221.0,299.0,0.0,510.0,989.0,0.0,0.0,0.0,...,335.0,178.0,138.0,43.0,33.0,3.0,18.0,159.0,3.0,24
352,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,794.0,...,13140.0,9649.0,8110.0,4344.0,3295.0,63.0,124.0,2818.0,9.0,679
205,9620.0,169.0,0.0,1134.0,0.0,0.0,0.0,378.0,0.0,0.0,...,4866.0,1639.0,1906.0,243.0,626.0,34.0,103.0,2911.0,6.0,189
486,724.0,1053.0,0.0,0.0,0.0,643.0,1539.0,220.0,0.0,0.0,...,50.0,12.0,11.0,3.0,0.0,0.0,0.0,38.0,0.0,7
489,0.0,296.0,0.0,0.0,0.0,485.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158,10997.0,6064.0,0.0,971.0,382.0,1544.0,471.0,636.0,191.0,411.0,...,2173.0,1723.0,1036.0,591.0,409.0,6.0,30.0,544.0,0.0,50
165,3696.0,7060.0,0.0,0.0,258.0,4239.0,1232.0,0.0,0.0,379.0,...,2448.0,1789.0,925.0,612.0,439.0,5.0,39.0,708.0,0.0,117
151,6420.0,4687.0,846.0,343.0,0.0,1487.0,1602.0,250.0,301.0,0.0,...,1449.0,1140.0,709.0,404.0,234.0,0.0,3.0,361.0,0.0,77
349,18672.0,11674.0,1975.0,0.0,0.0,1103.0,2085.0,0.0,0.0,162.0,...,13815.0,8554.0,7930.0,3128.0,2706.0,66.0,187.0,4627.0,12.0,674
487,0.0,479.0,0.0,0.0,206.0,671.0,2237.0,679.0,215.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

In [18]:
fD.sort_index()

,datosAgrupados_Caminando_destino,datosAgrupados_Transporte_Colectivo_destino,datosAgrupados_Taxi_destino,datosAgrupados_Bicicleta_destino,datosAgrupados_Motocicleta_destino,datosAgrupados_Auto__Conductor__destino,datosAgrupados_Auto__Pasajero__destino,datosAgrupados_Camioneta__Conductor__destino,datosAgrupados_Camioneta__Pasajero__destino,datosAgrupados_Otros_destino,...,sum_VPH_CEL,sum_VPH_INTER,sum_VPH_STVP,sum_VPH_SPMVPI,sum_VPH_CVJ,sum_VPH_SINRTV,sum_VPH_SINLTC,sum_VPH_SINCINT,sum_VPH_SINTIC,Manzanas
CODIGO_MZ,,,,,,,,,,,,,,,,,,,,,
1,4663.0,5428.0,0.0,252.0,0.0,2295.0,862.0,0.0,0.0,0.0,...,1054.0,883.0,534.0,419.0,234.0,10.0,3.0,181.0,0.0,43
2,12897.0,69157.0,3049.0,192.0,750.0,24068.0,11274.0,1087.0,1250.0,224.0,...,589.0,525.0,294.0,234.0,128.0,6.0,3.0,53.0,0.0,94
3,8047.0,14524.0,604.0,805.0,478.0,12848.0,4805.0,0.0,0.0,232.0,...,790.0,730.0,361.0,373.0,167.0,0.0,4.0,57.0,0.0,79
4,8745.0,78526.0,896.0,264.0,1728.0,23483.0,6198.0,750.0,0.0,721.0,...,300.0,236.0,118.0,110.0,28.0,3.0,0.0,43.0,0.0,81
5,4037.0,8866.0,0.0,0.0,129.0,6163.0,1835.0,95.0,0.0,0.0,...,1660.0,1533.0,1126.0,787.0,361.0,11.0,4.0,150.0,0.0,67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
486,724.0,1053.0,0.0,0.0,0.0,643.0,1539.0,220.0,0.0,0.0,...,50.0,12.0,11.0,3.0,0.0,0.0,0.0,38.0,0.0,7
487,0.0,479.0,0.0,0.0,206.0,671.0,2237.0,679.0,215.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
488,0.0,214.0,0.0,0.0,0.0,146.0,180.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
489,0.0,296.0,0.0,0.0,0.0,485.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
490,200.0,1051.0,0.0,0.0,0.0,1994.0,1508.0,231.0,142.0,0.0,...,2048.0,932.0,1350.0,151.0,73.0,14.0,24.0,1017.0,0.0,210

#### Adding Prediction Data

In [19]:
with open('./model/origen.pkl', 'rb') as f:
    originModel = pickle.load(f)

with open('./model/destino.pkl', 'rb') as f:
    destinationModel = pickle.load(f)

In [20]:
toPredictData = pd.read_csv('./data/selectedDataV2.csv', index_col='CODIGO_MZ')
toPredictData.drop([x for x in toPredictData if 'datosAgrupados' in x], axis = 1, inplace=True)
toPredictData

,sum_POBTOT,act_722515,act_722514,act_812110,Unidades_Economicas,Paradas_Camion,%VPH_AUTOMOVIL
CODIGO_MZ,,,,,,,
353,1541.0,0.0,2.0,0.0,88,9,0.527174
352,46710.0,1.0,2.0,29.0,305,67,0.633977
205,17780.0,0.0,0.0,0.0,18,0,0.377477
486,196.0,0.0,0.0,0.0,3,0,0.452830
489,0.0,0.0,0.0,0.0,0,0,0.000000
...,...,...,...,...,...,...,...
158,8937.0,9.0,14.0,18.0,354,18,0.513158
165,10644.0,9.0,22.0,56.0,590,27,0.575826
151,5937.0,5.0,9.0,12.0,235,5,0.562186
349,62203.0,3.0,14.0,29.0,490,73,0.533891
487,0.0,0.0,0.0,0.0,1,0,0.000000

In [21]:
toJoin = toPredictData.copy()
toJoin['Viajes Origen'] = originModel.predict(toPredictData)
toJoin['Viajes Destino'] = destinationModel.predict(toPredictData)
toJoin['Viajes Origen'] = np.int64(round(toJoin['Viajes Origen'], 0))
toJoin['Viajes Destino'] = np.int64(round(toJoin['Viajes Destino'], 0))
toJoin

,sum_POBTOT,act_722515,act_722514,act_812110,Unidades_Economicas,Paradas_Camion,%VPH_AUTOMOVIL,Viajes Origen,Viajes Destino
CODIGO_MZ,,,,,,,,,
353,1541.0,0.0,2.0,0.0,88,9,0.527174,5136,5109
352,46710.0,1.0,2.0,29.0,305,67,0.633977,804,833
205,17780.0,0.0,0.0,0.0,18,0,0.377477,11293,11286
486,196.0,0.0,0.0,0.0,3,0,0.452830,4145,4118
489,0.0,0.0,0.0,0.0,0,0,0.000000,773,777
...,...,...,...,...,...,...,...,...,...
158,8937.0,9.0,14.0,18.0,354,18,0.513158,21419,21649
165,10644.0,9.0,22.0,56.0,590,27,0.575826,16937,16912
151,5937.0,5.0,9.0,12.0,235,5,0.562186,15916,15790
349,62203.0,3.0,14.0,29.0,490,73,0.533891,35643,35664
487,0.0,0.0,0.0,0.0,1,0,0.000000,715,577

In [22]:
toJoin.drop(toPredictData.columns, axis = 1, inplace = True)
toJoin

           Viajes Origen  Viajes Destino
CODIGO_MZ
353                 5136            5109
352                  804             833
205                11293           11286
486                 4145            4118
489                  773             777
...                  ...             ...
158                21419           21649
165                16937           16912
151                15916           15790
349                35643           35664
487                  715             577

[478 rows x 2 columns]

#### Joining Data

In [23]:
joining = fD.copy()
joining = joining.join(toJoin)
joining

,datosAgrupados_Caminando_destino,datosAgrupados_Transporte_Colectivo_destino,datosAgrupados_Taxi_destino,datosAgrupados_Bicicleta_destino,datosAgrupados_Motocicleta_destino,datosAgrupados_Auto__Conductor__destino,datosAgrupados_Auto__Pasajero__destino,datosAgrupados_Camioneta__Conductor__destino,datosAgrupados_Camioneta__Pasajero__destino,datosAgrupados_Otros_destino,...,sum_VPH_STVP,sum_VPH_SPMVPI,sum_VPH_CVJ,sum_VPH_SINRTV,sum_VPH_SINLTC,sum_VPH_SINCINT,sum_VPH_SINTIC,Manzanas,Viajes Origen,Viajes Destino
CODIGO_MZ,,,,,,,,,,,,,,,,,,,,,
353,1788.0,1311.0,221.0,299.0,0.0,510.0,989.0,0.0,0.0,0.0,...,138.0,43.0,33.0,3.0,18.0,159.0,3.0,24,5136,5109
352,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,794.0,...,8110.0,4344.0,3295.0,63.0,124.0,2818.0,9.0,679,804,833
205,9620.0,169.0,0.0,1134.0,0.0,0.0,0.0,378.0,0.0,0.0,...,1906.0,243.0,626.0,34.0,103.0,2911.0,6.0,189,11293,11286
486,724.0,1053.0,0.0,0.0,0.0,643.0,1539.0,220.0,0.0,0.0,...,11.0,3.0,0.0,0.0,0.0,38.0,0.0,7,4145,4118
489,0.0,296.0,0.0,0.0,0.0,485.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,773,777
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158,10997.0,6064.0,0.0,971.0,382.0,1544.0,471.0,636.0,191.0,411.0,...,1036.0,591.0,409.0,6.0,30.0,544.0,0.0,50,21419,21649
165,3696.0,7060.0,0.0,0.0,258.0,4239.0,1232.0,0.0,0.0,379.0,...,925.0,612.0,439.0,5.0,39.0,708.0,0.0,117,16937,16912
151,6420.0,4687.0,846.0,343.0,0.0,1487.0,1602.0,250.0,301.0,0.0,...,709.0,404.0,234.0,0.0,3.0,361.0,0.0,77,15916,15790
349,18672.0,11674.0,1975.0,0.0,0.0,1103.0,2085.0,0.0,0.0,162.0,...,7930.0,3128.0,2706.0,66.0,187.0,4627.0,12.0,674,35643,35664
487,0.0,479.0,0.0,0.0,206.0,671.0,2237.0,679.0,215.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,715,577

In [24]:
odcopy = odData.copy()
odcopy = odcopy.join(joining, on='Origen')
odcopy = odcopy.join(joining, on='Destino', rsuffix='__DESTINO', lsuffix='__ORIGEN')
odcopy

                Caminando  Transporte Colectivo  Taxi  Bicicleta  Motocicleta  \
Origen Destino
1.0    1.0         2175.0                 623.0   0.0        0.0          0.0
       2.0          212.0                 147.0   0.0        0.0          0.0
       3.0            0.0                 165.0   0.0        0.0          0.0
       4.0            0.0                 311.0   0.0        0.0          0.0
       14.0           0.0                 311.0   0.0        0.0          0.0
...                   ...                   ...   ...        ...          ...
490.0  403.0          0.0                   0.0   0.0        0.0          0.0
       406.0          0.0                   0.0   0.0        0.0          0.0
       446.0          0.0                   0.0   0.0        0.0          0.0
       458.0          0.0                   0.0   0.0        0.0          0.0
       490.0        200.0                   0.0   0.0        0.0          0.0

                Vehiculo  Otros  Total  \
Origen Destino
1.0    1.0           0.0    0.0   2798
       2.0         185.0    0.0    544
       3.0           0.0    0.0    165
       4.0           0.0    0.0    311
       14.0          0.0    0.0    311
...                  ...    ...    ...
490.0  403.0       200.0    0.0    200
       406.0       453.0    0.0    453
       446.0       520.0    0.0    520
       458.0       142.0    0.0    142
       490.0       400.0    0.0    600

                datosAgrupados_Caminando_destino__ORIGEN  \
Origen Destino
1.0    1.0                                        4663.0
       2.0                                        4663.0
       3.0                                        4663.0
       4.0                                        4663.0
       14.0                                       4663.0
...                                                  ...
490.0  403.0                                       200.0
       406.0                                       200.0
       446.0                                       200.0
       458.0                                       200.0
       490.0                                       200.0

                datosAgrupados_Transporte_Colectivo_destino__ORIGEN  ...  \
Origen Destino                                                       ...
1.0    1.0                                                 5428.0    ...
       2.0                                                 5428.0    ...
       3.0                                                 5428.0    ...
       4.0                                                 5428.0    ...
       14.0                                                5428.0    ...
...                                                           ...    ...
490.0  403.0                                               1051.0    ...
       406.0                                               1051.0    ...
       446.0                                               1051.0    ...
       458.0                                               1051.0    ...
       490.0                                               1051.0    ...

                sum_VPH_STVP__DESTINO  sum_VPH_SPMVPI__DESTINO  \
Origen Destino
1.0    1.0                      534.0                    419.0
       2.0                      294.0                    234.0
       3.0                      361.0                    373.0
       4.0                      118.0                    110.0
       14.0                     635.0                    610.0
...                               ...                      ...
490.0  403.0                   3781.0                   3344.0
       406.0                   1556.0                    957.0
       446.0                    916.0                    611.0
       458.0                     41.0                     15.0
       490.0                   1350.0                    151.0

                sum_VPH_CVJ__DESTINO  sum_VPH_SINRTV__DESTINO  \
Origen Destino
1.0    1.0                     234.0                     10.0
       2.0                     128.0                      6.0
       3.0                     167.0                      0.0
       4.0                      28.0                      3.0
       14.0                    279.0                      6.0
...                              ...                      ...
490.0  403.0                  2093.0                     21.0
       406.0                   486.0                     34.0
       446.0                   384.0                     23.0
       458.0                     8.0                      4.0
       490.0                    73.0                     14.0

                sum_VPH_SINLTC__DESTINO  sum_VPH_SINCINT__DESTINO  \
Origen Destino
1.0    1.0                          3.0                     181.0
       2.0                          3.0                      53.0
       3.0                          4.0                      57.0
       4.0                          0.0                      43.0
       14.0                         9.0                      89.0
...                                 ...                       ...
490.0  403.0                        6.0                     609.0
       406.0                       57.0                     774.0
       446.0                       37.0                     776.0
       458.0                        3.0                      21.0
       490.0                       24.0                    1017.0

                sum_VPH_SINTIC__DESTINO  Manzanas__DESTINO  \
Origen Destino
1.0    1.0                          0.0                 43
       2.0                          0.0                 94
       3.0                          0.0                 79
       4.0                          0.0                 81
       14.0                         0.0                 76
...                                 ...                ...
490.0  403.0                        0.0                145
       406.0                        0.0                 64
       446.0                        0.0                165
       458.0                        0.0                  5
       490.0                        0.0                210

                Viajes Origen__DESTINO  Viajes Destino__DESTINO
Origen Destino
1.0    1.0                       13520                    13514
       2.0                      124062                   123932
       3.0                       42328                    42338
       4.0                      120904                   121311
       14.0                      41244                    40781
...                                ...                      ...
490.0  403.0                     46186                    44111
       406.0                     28946                    29505
       446.0                     16819                    17957
       458.0                      5049                     5055
       490.0                     12040                     7910

[17737 rows x 2296 columns]

### Network Data

In [25]:
import routingpy as rp

In [26]:
ors = rp.routers.ORS('5b3ce3597851110001cf6248189853a17c424c3183f8cdf2e74c91df')
ors

In [27]:
xy = pd.read_csv('./data/Zonificacion/zonificacionXY.csv', index_col='CODIGO_MZ')
xy.drop('OID_', axis = 1, inplace=True)
xy['list'] = xy[['PX', 'PY']].values.tolist()
xy

                   PX         PY                                       list
CODIGO_MZ
353       -103.232185  20.672608  [-103.23218501109906, 20.672607933198098]
352       -103.204295  20.652854   [-103.20429498018316, 20.65285420068556]
178       -103.298114  20.737875  [-103.29811411400912, 20.737874558801416]
205       -103.134625  20.481134  [-103.13462519013088, 20.481134008235628]
486       -103.101954  20.547243    [-103.101953921438, 20.547242803337618]
...               ...        ...                                        ...
158       -103.372280  20.631748   [-103.37228015622269, 20.63174775195675]
165       -103.353927  20.622016  [-103.35392687603908, 20.622016014173425]
151       -103.352320  20.627166  [-103.35231981051776, 20.627165971974826]
349       -103.190178  20.583159  [-103.19017832783022, 20.583159214760556]
487       -103.132783  20.593660  [-103.13278342863877, 20.593660266187023]

[478 rows x 3 columns]

#### Car

In [28]:
durationData = pd.DataFrame(columns=xy.index, index=xy.index)
durationData

CODIGO_MZ,353,352,178,205,486,489,454,457,401,452,...,164,162,161,163,159,158,165,151,349,487
CODIGO_MZ,,,,,,,,,,,,,,,,,,,,,
353,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
352,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
178,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
205,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
486,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
165,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
151,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
349,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
487,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
for i in range(0,68):
    dest = [i for i in range(7*i, 7*(i+1))]
    if i == 40:
        time.sleep(60)
    dist = ors.matrix(xy.list.values.tolist(), profile = 'driving-car', sources=dest)
    durationData.iloc[dest] = np.array(dist.raw['durations'])

# Se debe correr una vez más para cubrir todos
dest = [476, 477]
dist = ors.matrix(xy.list.values.tolist(), profile = 'driving-car', sources=dest)
durationData.iloc[dest] = np.array(dist.raw['durations'])

In [30]:
durationData

CODIGO_MZ,353,352,178,205,486,489,454,457,401,452,...,164,162,161,163,159,158,165,151,349,487
CODIGO_MZ,,,,,,,,,,,,,,,,,,,,,
353,0.0,454.27,2591.47,2116.13,1689.12,3096.41,3952.44,3041.01,1611.59,1925.73,...,1564.07,1609.48,1530.18,1506.34,1602.74,1506.56,1521.86,1383.21,1176.37,1811.88
352,415.89,0.0,2813.59,2091.88,1664.86,3318.53,4174.56,3263.13,1833.71,2147.85,...,1539.82,1585.23,1505.93,1482.09,1578.48,1482.31,1497.61,1358.96,1152.12,1787.63
178,2573.65,2889.04,0.0,4550.91,4123.89,5476.3,6332.33,5420.89,3991.48,4305.62,...,3998.85,4044.26,3964.96,3941.12,4037.51,3941.34,3956.64,3817.99,3611.15,4246.66
205,2181.02,2042.18,4578.72,0.0,1778.48,5080.28,5936.31,5024.88,3598.84,3848.22,...,2548.15,2593.56,2514.26,2490.42,2586.82,2490.64,2505.94,2367.29,1464.89,1971.26
486,1727.57,1588.73,4125.27,1781.46,0.0,4626.83,5482.87,4571.43,3145.4,3394.77,...,2094.71,2140.12,2060.81,2036.97,2133.37,2037.19,2052.49,1913.85,1033.78,1137.06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158,1588.32,1449.48,3986.02,2401.72,1974.7,2987.74,3843.77,2932.33,1609.09,1755.68,...,274.51,225.85,146.55,122.71,157.86,0.0,349.01,256.26,1461.95,2097.47
165,1558.85,1420.01,3956.55,2372.24,1945.22,3155.97,4012.0,3100.56,1777.32,1923.91,...,202.75,313.66,298.5,298.34,437.87,341.7,0.0,154.97,1432.47,2067.99
151,1452.88,1314.04,3850.58,2266.27,1839.25,3063.68,3919.71,3008.27,1685.03,1831.62,...,272.49,352.33,273.03,249.19,345.59,249.41,154.97,0.0,1326.51,1962.02
349,1131.36,992.51,3529.06,1502.57,1075.55,4030.62,4886.65,3975.21,2549.18,2798.56,...,1498.49,1543.9,1464.6,1440.76,1537.15,1440.97,1456.27,1317.63,0.0,1198.32
487,1794.05,1655.21,4191.75,1976.2,1139.02,4693.31,5549.34,4637.91,3211.87,3461.25,...,2161.18,2206.59,2127.29,2103.45,2199.84,2103.67,2118.97,1980.32,1100.26,0.0

In [31]:
time.sleep(60)

#### Foot

In [32]:
durationData2 = pd.DataFrame(columns=xy.index, index=xy.index)
durationData2

CODIGO_MZ,353,352,178,205,486,489,454,457,401,452,...,164,162,161,163,159,158,165,151,349,487
CODIGO_MZ,,,,,,,,,,,,,,,,,,,,,
353,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
352,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
178,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
205,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
486,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
165,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
151,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
349,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
487,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
for i in range(0,68):
    dest = [i for i in range(7*i, 7*(i+1))]
    if i == 40:
        time.sleep(60)
    dist = ors.matrix(xy.list.values.tolist(), profile = 'foot-walking', sources=dest)
    durationData2.iloc[dest] = np.array(dist.raw['durations'])

# Se debe correr una vez más para cubrir todos
dest = [476, 477]
dist = ors.matrix(xy.list.values.tolist(), profile = 'foot-walking', sources=dest)
durationData2.iloc[dest] = np.array(dist.raw['durations'])

In [34]:
durationData2

CODIGO_MZ,353,352,178,205,486,489,454,457,401,452,...,164,162,161,163,159,158,165,151,349,487
CODIGO_MZ,,,,,,,,,,,,,,,,,,,,,
353,0.0,2775.83,10717.49,21117.5,22486.51,48832.07,40631.62,30698.96,19845.33,22994.13,...,13468.22,14532.16,13938.83,13337.28,14276.77,13833.42,12728.53,12242.33,13524.94,19616.06
352,2775.83,0.0,13660.89,21267.29,22636.3,51775.47,43575.02,33642.36,22788.74,25937.54,...,15729.47,16793.41,16200.08,15598.53,16538.02,16094.67,14989.78,14503.58,13674.73,19765.85
178,10717.49,13660.89,0.0,30006.42,31375.43,42341.05,34944.73,23476.52,12823.14,17307.24,...,12641.6,13000.62,12686.97,12283.04,12723.08,12102.07,12797.06,12310.85,22413.86,28504.98
205,21117.5,21267.29,30006.42,0.0,11665.18,67075.3,57830.63,47897.96,37044.34,40193.14,...,25157.88,25846.96,25594.65,25142.88,26082.37,25639.01,24310.77,24047.92,11276.43,12387.55
486,22486.51,22636.3,31375.43,11665.18,0.0,68444.3,59199.64,49266.97,38413.35,41562.15,...,26526.89,27215.96,26963.66,26511.88,27451.37,27008.02,25679.78,25416.93,10843.31,7467.21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158,13833.42,16094.67,12102.07,25639.01,27008.02,44643.97,34901.57,24968.9,14115.28,17264.08,...,1149.9,1209.48,895.84,566.25,519.85,0.0,1901.96,1657.82,18046.45,24137.57
165,12728.53,14989.78,12797.06,24310.77,25679.78,46276.91,36534.5,26601.84,15748.21,18897.01,...,933.84,1908.63,1419.27,1391.28,2207.8,1901.96,0.0,486.23,16718.21,22809.33
151,12242.33,14503.58,12310.85,24047.92,25416.93,45829.06,36086.66,26154.0,15300.37,18449.17,...,1228.26,2292.19,1698.87,1147.14,2101.17,1657.82,486.23,0.0,16455.36,22546.48
349,13524.94,13674.73,22413.86,11276.43,10843.31,59482.73,50238.07,40305.4,29451.78,32600.58,...,17565.32,18254.39,18002.09,17550.31,18489.8,18046.45,16718.21,16455.36,0.0,7972.86
487,19616.06,19765.85,28504.98,12387.55,7467.21,65573.86,56329.19,46396.53,35542.9,38691.7,...,23656.44,24345.52,24093.21,23641.44,24580.93,24137.57,22809.33,22546.48,7972.86,0.0

#### Public Transport

#### Join

In [35]:
dD = durationData.reset_index().melt(id_vars='CODIGO_MZ', var_name='Destino', value_name='travel_time').rename(columns={'CODIGO_MZ': 'Origen'}).set_index(['Origen', 'Destino']).sort_index()
dD2 = durationData2.reset_index().melt(id_vars='CODIGO_MZ', var_name='Destino', value_name='travel_time').rename(columns={'CODIGO_MZ': 'Origen'}).set_index(['Origen', 'Destino']).sort_index()

In [36]:
travelData = dD.join(dD2, lsuffix='_Driving', rsuffix='_Walking')
travelData

               travel_time_Driving travel_time_Walking
Origen Destino
1      1                       0.0                 0.0
       2                    332.83             1127.56
       3                    190.53              903.32
       4                    399.02             1450.13
       5                    430.01             2555.07
...                            ...                 ...
490    486                 4036.51            57685.36
       487                 4159.28            54814.91
       488                 4330.57            48709.75
       489                 3106.01            45549.75
       490                     0.0                 0.0

[228484 rows x 2 columns]

In [37]:
odcopy = odcopy.join(travelData)
odcopy

                Caminando  Transporte Colectivo  Taxi  Bicicleta  Motocicleta  \
Origen Destino
1.0    1.0         2175.0                 623.0   0.0        0.0          0.0
       2.0          212.0                 147.0   0.0        0.0          0.0
       3.0            0.0                 165.0   0.0        0.0          0.0
       4.0            0.0                 311.0   0.0        0.0          0.0
       14.0           0.0                 311.0   0.0        0.0          0.0
...                   ...                   ...   ...        ...          ...
490.0  403.0          0.0                   0.0   0.0        0.0          0.0
       406.0          0.0                   0.0   0.0        0.0          0.0
       446.0          0.0                   0.0   0.0        0.0          0.0
       458.0          0.0                   0.0   0.0        0.0          0.0
       490.0        200.0                   0.0   0.0        0.0          0.0

                Vehiculo  Otros  Total  \
Origen Destino
1.0    1.0           0.0    0.0   2798
       2.0         185.0    0.0    544
       3.0           0.0    0.0    165
       4.0           0.0    0.0    311
       14.0          0.0    0.0    311
...                  ...    ...    ...
490.0  403.0       200.0    0.0    200
       406.0       453.0    0.0    453
       446.0       520.0    0.0    520
       458.0       142.0    0.0    142
       490.0       400.0    0.0    600

                datosAgrupados_Caminando_destino__ORIGEN  \
Origen Destino
1.0    1.0                                        4663.0
       2.0                                        4663.0
       3.0                                        4663.0
       4.0                                        4663.0
       14.0                                       4663.0
...                                                  ...
490.0  403.0                                       200.0
       406.0                                       200.0
       446.0                                       200.0
       458.0                                       200.0
       490.0                                       200.0

                datosAgrupados_Transporte_Colectivo_destino__ORIGEN  ...  \
Origen Destino                                                       ...
1.0    1.0                                                 5428.0    ...
       2.0                                                 5428.0    ...
       3.0                                                 5428.0    ...
       4.0                                                 5428.0    ...
       14.0                                                5428.0    ...
...                                                           ...    ...
490.0  403.0                                               1051.0    ...
       406.0                                               1051.0    ...
       446.0                                               1051.0    ...
       458.0                                               1051.0    ...
       490.0                                               1051.0    ...

                sum_VPH_CVJ__DESTINO  sum_VPH_SINRTV__DESTINO  \
Origen Destino
1.0    1.0                     234.0                     10.0
       2.0                     128.0                      6.0
       3.0                     167.0                      0.0
       4.0                      28.0                      3.0
       14.0                    279.0                      6.0
...                              ...                      ...
490.0  403.0                  2093.0                     21.0
       406.0                   486.0                     34.0
       446.0                   384.0                     23.0
       458.0                     8.0                      4.0
       490.0                    73.0                     14.0

                sum_VPH_SINLTC__DESTINO  sum_VPH_SINCINT__DESTINO  \
Origen Destino
1.0    1.0                          3.0                     181.0
       2.0                          3.0                      53.0
       3.0                          4.0                      57.0
       4.0                          0.0                      43.0
       14.0                         9.0                      89.0
...                                 ...                       ...
490.0  403.0                        6.0                     609.0
       406.0                       57.0                     774.0
       446.0                       37.0                     776.0
       458.0                        3.0                      21.0
       490.0                       24.0                    1017.0

                sum_VPH_SINTIC__DESTINO  Manzanas__DESTINO  \
Origen Destino
1.0    1.0                          0.0                 43
       2.0                          0.0                 94
       3.0                          0.0                 79
       4.0                          0.0                 81
       14.0                         0.0                 76
...                                 ...                ...
490.0  403.0                        0.0                145
       406.0                        0.0                 64
       446.0                        0.0                165
       458.0                        0.0                  5
       490.0                        0.0                210

                Viajes Origen__DESTINO  Viajes Destino__DESTINO  \
Origen Destino
1.0    1.0                       13520                    13514
       2.0                      124062                   123932
       3.0                       42328                    42338
       4.0                      120904                   121311
       14.0                      41244                    40781
...                                ...                      ...
490.0  403.0                     46186                    44111
       406.0                     28946                    29505
       446.0                     16819                    17957
       458.0                      5049                     5055
       490.0                     12040                     7910

                travel_time_Driving  travel_time_Walking
Origen Destino
1.0    1.0                      0.0                  0.0
       2.0                   332.83              1127.56
       3.0                   190.53               903.32
       4.0                   399.02              1450.13
       14.0                  289.64              1148.73
...                             ...                  ...
490.0  403.0                2310.55             23288.82
       406.0                2085.45             22936.08
       446.0                2423.84             32012.21
       458.0                1213.92             10567.88
       490.0                    0.0                  0.0

[17737 rows x 2298 columns]

In [38]:
odcopy.fillna(0, inplace=True)

In [39]:
odcopy.to_csv('./data/fluxModelData.csv')